* {
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}

body {
    background-color: #e0ecf8ff;
}

form {
    width: 50%;
    margin: auto;
}
form #info {
    width: 45%;
    padding: 1%;
    margin: 1%;
}
.email {
    float: left;
}
.screenname {
    float: right;
}
.firstName {
    float: left;
}
.lastName {
    float: right;
}

.free {
    width: 85px;
    height: 85px;
}


#team {
    margin-bottom: 1%;
}
.teamSelect {
    margin: 1%;
    margin-top: 0%;
    float: left;
}
#add {
    display: none;
}
.newTeamName {
    width: 45%;
    margin: 1%;
    margin-top: 1%;
    padding: 1%;
    float: right;
}


#current {
    display: none;
}
.teams {
    margin: 1%;
    width: 47.2%;
    margin: 1%;
    margin-top: 1%;
    padding: 1%;
    float: right;
}

.waiver {
    background-color: #ffffff;
    border: 5px solid ;
    width: 98%;
    height: 300px;
    margin: 1%;
    word-wrap: break-word;
    overflow-y: scroll;
}
.options {
    margin: 1%;
}
.submit {
    width: 47%;
    padding: 1%;
}
.submitContain {
    text-align: center;
}