/*e0ecf8ff white
ff5f2fff orangish
ffbf3eff yellowish
004f67ff bluish

---

da6134 new! orange
edc164 new! yellow
a1d7da new! light blue*/

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

h1 {
    font-family: 'Anton', sans-serif;
}

body{
    height:100%; 
    background-color: #e0ecf8ff;
    margin: 0px;
    padding: none;
    font-family: 'Roboto', sans-serif;
}
.parallax{
    background-color: #004f67ff;
    height: 800px;
    background-attachment: absolute;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    padding: 0;
}
#video{
    height: 100%;
    width: 100%;
}
.section{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: none;
}
.section video {
    object-fit: fill;
    filter: opacity(30%);
}