* {
    font-family: 'Anton', 'sans-serif';
    font-size: 13pt;
}
body {
    background-color: #004f67ff;
    margin: 0;
    padding: 0;
}
form {
    width: 75%;
    margin: auto;
    background-color: #e0ecf8ff;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    padding-bottom: 3.5%;
}
form #info {
    width: 90%;
    padding: 1%;
    margin: 1%;
}
form input {
    border: 2px solid #004f67ff;
    background-color: #e0ecf8ff;
}

.inputsContain {
    width: 100%;
}
.emailContain {
    width: 50%;
    float: left;
}
.ignContain {
    width: 50%;
    float: left;
}
.firstContain {
    width: 50%;
    float: left;
}
.lastContain {
    width: 50%;
    float: left;
}

.clickables {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    text-align: center;
    margin: 1%;
}

/* This is the league form area */

.leagueClick {
    width: 100px;
    height: 100px;
    margin: auto;
}

.teamSelect {
    display: grid;
    grid-template-columns: auto auto auto;
}
.teamSelect .left, .middle, .right {
    text-align: center;
}
.teamSelect button {
    width: 100%;
    height: 60px;
}
.teamSelect button:hover {
    cursor: pointer;

}
.left, .middle, .right {
    cursor: pointer;
}


form p {
    margin: 1%;
}
#team {
    margin-bottom: 1%;
}

/* Free agent hidden inputs */

.free {
    text-align: center; 
}

.mainPos {
    width: 94%;
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    margin: auto;
}
.mainPos button {
    height: 50px;
    padding: 1%;
}
.mainPos button:hover {
    background-color: #004f67ff;
    transform: scale(1.3);
    cursor: pointer;
}

.subPos {
    width: 94%;
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    margin: auto;
}
.subPos button {
    height: 50px;
    padding: 1%;
}
.subPos button:hover {
    background-color: #da6134;
    transform: scale(1.3);
    cursor: pointer;
}

/* New team hidden inputs */

#add {
    text-align: center;
    display: none;
    height: 167px;
}
.newTeamName {
    width: 94%;
    height: 37.5px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 1%;
}

/* Current team hidden inputs */

#current {
    text-align: center;
    display: none;
    height: 167px;
}
.teams {
    border: 2px solid black;
    width: 97%;
    height: 57px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 1%;
}

/* This is the Smash Bros area */


/* Waiver area */

.agree {
    width: 30px;
    height: 30px;
}
.disagree {
    width: 30px;
    height: 30px;
}

.waiver {
    background-color: #e0ecf8ff;
    border: 2px solid #004f67ff;
    width: 96%;
    height: 300px;
    margin: 1%;
    margin-top: 3%;
    word-wrap: break-word;
    overflow-y: scroll;
    position: relative
}
.options {
    margin: 1%;
}
.submit {
    width: 47%;
    padding: 1%;
    display: none;
}
.submit:hover {
    cursor: pointer;
}
.submitContain {
    text-align: center;
}
