* {
    font-family: 'Anton', 'sans-serif';
}
form {
    width: 50%;
    margin: auto;
    background-color: #e0ecf8ff;
    border: 10px solid black;
    padding: 1%;
    padding-bottom: 3.5%;
}
form #info {
    width: 45%;
    padding: 1%;
    margin: 1%;
}
form input {
    border: 2px solid black
}


.email {
    float: left;
}
.screenname {
    float: right;
}
.firstName {
    float: left;
}
.lastName {
    float: right;
}

.clickables {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    text-align: center;
    margin: 1%;
}

/* This is the league form area */

.leagueClick {
    width: 100px;
    height: 100px;
    margin: auto;
}

.teamSelect {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}
.teamSelect .left, .middle, .right {
    margin: auto;
    text-align: center;
}
.teamSelect img {
    width: 95px;
    height: 95px;
    
}
.teamSelect img:hover {
    cursor: pointer;
}
.left, .middle, .right {
    cursor: pointer;
}
.new {
    min-width: 105px;
    max-width: 105px;
}

form p {
    margin: 1%;
}
#team {
    margin-bottom: 1%;
}
/* Free agent hidden inputs */
#placeholder {
    text-align: left; 
}

.mainPos {
    width: 94%;
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    margin: auto;
}
.mainPos button {
    height: 50px;
    padding: 1%;
}
.mainPos button:hover {
    background-color: #da6134;
    transform: scale(1.3);
    cursor: pointer;
}

.subPos {
    width: 94%;
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    margin: auto;
}
.subPos button {
    height: 50px;
    padding: 1%;
}
.subPos button:hover {
    background-color: #da6134;
    transform: scale(1.3);
    cursor: pointer;
}

/* New team hidden inputs */

#add {
    text-align: center;
    display: none;
    height: 167px;
}
.newTeamName {
    width: 94%;
    height: 37.5px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 1%;
}

#current {
    text-align: center;
    display: none;
    height: 167px;
}
.teams {
    border: 2px solid black;
    width: 97%;
    height: 57px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 1%;
}

/* This is the Smash Bros area */


/* Waiver area */

.agree {
    width: 30px;
    height: 30px;
}
.disagree {
    width: 30px;
    height: 30px;
}

.waiver {
    background-color: #ffffff;
    border: 5px solid ;
    width: 96%;
    height: 300px;
    margin: 1%;
    margin-top: 3%;
    word-wrap: break-word;
    overflow-y: scroll;
    position: relative
}
.options {
    margin: 1%;
}
.submit {
    width: 47%;
    padding: 1%;
    display: none;
}
.submit:hover {
    cursor: pointer;
}
.submitContain {
    text-align: center;
}
